---
import Layout from '../layouts/Layout.astro';
import TimeLineItem from '../components/TimeLineItem.astro';
import { fade } from 'astro:transitions';
---

<Layout title="Gatitos en adopción"></Layout>
<main class="max-w-7xl m-auto max-md:mx-12 my-8">
    <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
        <TimeLineItem 
          left={true} 
          title='Un paseo' 
          time='03/07/24 10:00' 
          description='Fui a pasear a Nina por toda mi cuadrada, le encanta salir a pasear. Pero cuando regresamos a mi casa escucho un ruido extraño abajo de uno de los carros de los vecinos. Me acerco y veo a un gatito pequeño, se ve que acaba de nacer. Entré a mi casa y le busque una toalla para envolverlo y lo llevé a mi casa. Luego escucho a los vecinos decir que hay mas gatitos debajo. Así que fui por ellos y los llevé a mi casa, lamentablemente uno de ellos ya habia fallecido.'
        />

        <TimeLineItem 
          left={false} 
          title='Veterinaria' 
          time='03/07/24 11:00' 
          description='Luego de lavarlos, ya que se encontraban llenos de sangre, los llevé a la veterinaria para que los revisaran. La veterinaria me dijo que estaban bien, pero que necesitaban leche materna. Así que me dió la leche en polvo, jeringas y biberones. Me dijo que debía alimentarlos cada 3 horas.'
        />

        <TimeLineItem 
          left={true} 
          title='Mi situación' 
          time='03/07/24 13:00'
          description='Lamentablemente no puedo quedarme con los gatitos, ya que mi madre es alérgica a los gatos. Así que decidí buscarles un hogar. Me puse en contacto con varios centros de adopción, pero no me respondieron. Así que decidí publicarlos en mis redes sociales.'
        />

        <TimeLineItem 
          left={false} 
          title='Cuidados' 
          time='03/07/24 16:00' 
          description='Alimenté a los gatitos, limpié sus necesidades y los acosté en una caja con una toalla. Uno de ellos está más lastimado que los demás ya que nació primero y estuvo solo (la mamá los abandonó) pero todo bien. Se quedaron dormidos así que decidí acostarme con ellos. Esto es muy cansado.'
        />

        <TimeLineItem 
          left={true} 
          title='Los responsables' 
          time='03/07/24 18:30'
          description='Unos vecinos me comentaron que la mamá de los gatitos ya había hecho lo mismo en el pasado. Esta gata pertence a unos vecinos que no la cuidan, la dejan salir a la calle y no la esterilizan. Así que decidí hablar con ellos para que se hiceran responsables de las crias esta vez, pero no los encuentro en su casa y la gata no ha regresado. Tuve que salir de casa, los gatitos están tranquilos asi que espero que no les pase nada.'
        />
        
        <TimeLineItem 
          left={false} 
          title='Primera adopción' 
          time='03/07/24 20:48' 
          description='Logramos contacar a la primera persona en adoptar a uno de los gatitos. Se llama Bruno y es un chico muy amable. Me dijo que ya tienen gatos en su casa y que le gustaría tener otro. Me dijo que la llamará "Nube" porque es blanco y esponjoso. Me siento feliz de que uno de los gatitos ya tenga un hogar.'
        />

        <TimeLineItem 
          left={true} 
          title='Entierro' 
          time='03/07/24 22:50'
          description='La primera gatita que encontré, que estaba más grave que las otras 2, falleció en lo que estaba fuera. La tuvié que enterrar en el jardín de mi casa. Me siento triste por ella, pero sé que ahora está en un lugar mejor. Me duele que no haya podido sobrevivir, pero sé que hice todo lo que pude por ella. Descansa en paz, pequeña.'
        />
        
        <li>
          <hr />
          <div class="timeline-middle">
            <div class="text-lg font-black">Continuará...</div>
          </div>
        </div>
        </li>
      </ul>
</main>
